page-grab-order {
  .content {
    margin-bottom: 50px;
    .title{
      display: inline-block;
    }
    .show-comments{
      margin-left: 16px;
      font-size: 12px;
      color: #FEBD05;
      padding: 2px;
      border: solid 0.8px #FEBD05;
      border-radius: 8px;
    }
    // .show-comments:hover{
    //   color: white;
    //   background-color: #FEBD05;
    // }
  }
  p {
    font-size: 16px;
  }
  .icon-color {
    font-size: 18px;
    color: lightskyblue;
  }
  ion-item-divider {
    min-height: 1px !important;
    height: 6px;
  }
  .billing {
    color: orange;
    text-align: center;
  }
  .grab-btn {
    position: fixed;
    bottom: 0;
    margin: 0;
    display: block;
    height: 50px;
    z-index: 100;
    font-size: 16px;
  }
  .grab-btn:disabled {
    opacity: 1;
    filter: alpha(opacity=100);
    background: lightgray;
  }
  .company-info a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin: 10px auto;
  }
}
