<!--
  Generated template for the GrabOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="my">
    <ion-title *ngIf="item">{{item.HotelName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding class="content" *ngIf="item">
    <h2 class="billing">{{item.Billing}}</h2>

    <ion-grid class="important-info">
      <ion-row>
        <ion-col class="info">
          <p class="work-time">{{item.Start | date:"yyyy-MM-dd"}}</p>工作时间
        </ion-col>
        <ion-col class="info">
          <p class="room-remain">{{item.Num - item.AppliedNum}}</p>剩余房间
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-divider color="light"></ion-item-divider>

    <ion-item-group class="grab-order">
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <ion-item class="grab-count">
              <button ion-button clear item-start (click)="operGrabNum(-1)">-</button>
              <ion-input type="number" value="5" [(ngModel)]="grabNum"></ion-input>
              <button ion-button clear item-end (click)="operGrabNum(1)">+</button>
            </ion-item>
          </ion-col>
          <ion-col col-7>
            <button ion-button class="grab" (click)="askApply()">抢</button>
          </ion-col>
        </ion-row>
        <p class="grab-hint">友情提示：输入的数字需大于{{item.Min}}、小于{{item.Max}}，实际数量以用工方为准</p>
      </ion-grid>
    </ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>


    <ion-item-group class="work-desc">
      <h5>{{item.DepartMentName}} - {{item.WorkTypeName}}</h5>
      <p *ngIf="item.Mark">说明：{{item.Mark}}</p>
    </ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>

    <ion-item-group *ngIf="hotelDetails" class="company-info">
      <a class="phone" [href]="'tel:'+hotelDetails.Phone">
        <ion-icon class="icon-color" name="call"></ion-icon>
        联系电话：{{hotelDetails.Phone}}
      </a>
      <a (click)="showMap(hotelDetails.Longitude, hotelDetails.Latitude)">
        <ion-icon class="icon-color" name="pin"></ion-icon>
        工作地址：{{hotelDetails.Address}}
      </a>
    </ion-item-group>
  </div>

  <!-- <button class="grab-btn" ion-button block (click)="askApply()">抢单</button> -->
</ion-content>
