<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="my" hideBackButton="true">
    <ion-title>登录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
    <ion-list>
      <ion-item class="item-input">
        <ion-input type="tel" placeholder="手机号码" formControlName="phone" clearInput></ion-input>
      </ion-item>
      <div class="error-hint" *ngIf="phone.hasError('required') && phone.touched">* 请输入手机号码</div>
      <div class="error-hint" *ngIf="phone.hasError('minLength') || phone.hasError('maxLength') || phone.hasError('pattern')">* 手机号码格式不正确</div>

      <ion-item>
        <!-- <ion-label fixed>手机验证码</ion-label> -->
        <ion-input placeholder="请输入验证码" formControlName="veriCode" clearInput></ion-input>
      </ion-item>
      <button ion-button block (click)="getVeriCode()" [disabled]="veriCodeBtnState.disable">{{veriCodeBtnState.text}}</button>
    </ion-list>

    <button class="action-btn" ion-button block type="submit" [disabled]="!loginForm.valid">登录</button>
  </form>

  <!-- <button class="forget-pwd">忘记密码？</button> -->
  <button class="action-btn register-btn" ion-button clear (click)="gotoRegister()">还没账号？立即注册</button>

</ion-content>
