page-login {
  .item-input{
    padding: 0;
  }
  .action-btn {
    margin: 16px 0;
  }
  .register-btn {
    text-align: center;
    position: absolute;
    right: 0;
  }
  .error-hint {
    color: red;
  }
  .forget-pwd {
    background-color: white;
    position: absolute;
    right: 0;
  }
}
