page-message {
  .card {
    position: relative;
    .card-content {
      .message {
        line-height: 30px;
      }
      .create-time {
        text-align: right;
        color: #ccc;
        font-size: 12px;
      }
    }
  }
}
