page-message {
  .card {
    position: relative;
    .card-content {
      p {
        line-height: 30px;
      }
      span {
        display: block;
        position: absolute;
        right: 16px;
        bottom: 16px;
        color: #ccc;
        font-size: 12px;
      }
    }
  }
}
