<!--
  Generated template for the ApplyRecordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>申请记录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <h3 class="no-records" *ngIf="noRecords">{{whyEmpty}}</h3>
  <ion-list *ngIf="!noRecords">
    <ion-item *ngFor="let item of items" (click)="showItemDetails(item)">
      <ion-avatar item-start>
        <ion-icon name="happy" class="item-icon"></ion-icon>
      </ion-avatar>
      <ion-avatar class="apply-status" item-end [ngSwitch]="item.Status">
        <div *ngSwitchCase="'1'" class="apply-status-waitcheck">{{item.StatusStr}}</div>
        <div *ngSwitchCase="'2'" class="apply-status-pass">{{item.StatusStr}}</div>
        <!-- <div class="apply-status" [ngClass]="{'apply-status-nocheck':item.Status=='1', 'apply-status-pass':item.Status=='2'}">{{item.StatusStr}}</div> -->
      </ion-avatar>
      <h2>{{item.Order.Title}}</h2>
      <p>{{item.Order.Mark}}</p>
    </ion-item>
  </ion-list>
</ion-content>
