page-apply-records {
  .no-records {
    text-align: center;
  }
  .item-icon {
    font-size: 80px;
  }
  .apply-status div {
    padding: 10px 6px;
    border-radius: 6px;
    text-align: center;
    color: white;
  }
  .apply-status-pass{
    background: #34CA34;
  }
  .apply-status-waitcheck{
    background: orchid;
  }
  .apply-status-notpass{
    background: red;
  }
}
