page-apply-details {
  .content{
    margin-bottom: 50px;
  }
  p,
  a {
    font-size: 16px;
  }
  .phone {
    text-decoration: none;
  }
  .icon-color {
    font-size: 18px;
    color: lightskyblue;
  }
  ion-item-divider {
    min-height: 1px !important;
    height: 6px;
  }
  .billing{
    color:orange;
  }
  .company-info a{
    display: block;
    margin: 10px auto;
  }
}
