page-person-details {
  .error-hint {
    color: red;
  }
  .list>ion-item {
    padding: 0;
  }
  .item-key {
    font-size: 16px !important;
    color: gray !important;
  }
  .sex-box ion-item {
    // width: 30%;
    // display: inline-block;
  }
  .sex-box ion-radio {
    margin: 0;
  }
  .sex-box>.sex {
    margin: 0;
  }
  ion-item-group * {
    display: inline-block;
  }
  img {
    border: lightgray solid 0.8px;
  }
  .img-box {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  .idcard {
    width: 45%;
    height: 100%;
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    position: relative;
  }
  .idcard img {
    width: 100%;
    height: 120px;
  }
  .health-img-box {
    padding: 0 4px;
  }
  .health-img {
    width: 100%;
    height: 120px;
  }
  .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
