page-employee-list {
  .no-employee {
    text-align: center;
  }
  .item-icon {
    font-size: 80px;
  }
  .item-title {
    display: inline-block;
  }
  .arrow-icon {
    width: 10%;
    font-size: 60px;
  }
  .item-applied {
    background: #EFECEC;
  }
  .item-applied label {
    font-size: 80%;
    color: #C1C1C1;
  }
  .apply-status div {
    padding: 10px 6px;
    border-radius: 6px;
    text-align: center;
    color: white;
  }
  .apply-status-pass {
    background: #46F146;
  }
  .apply-status-waitcheck {
    background: orchid;
  }
  .apply-status-notpass {
    background: red;
  }
}
