page-employee-list {
  .num-hint {
    color: blue;
  }
  .num-used {
    color: #F78707
  }
  .no-employee {
    text-align: center;
  }
  .item-icon {
    font-size: 80px;
  }
  .item-title {
    display: inline-block;
  }
  .arrow-icon {
    width: 10%;
    font-size: 60px;
  }
  .item-applied {
    background: #F0F0F0;
    color: #777;
  }
  .item-applied *{
    color: #777;
  }
  .item-applied label {
    font-size: 80%;
    color: #C2C2C2;
  }
  .group{
    font-size: 16px;
  }
}
