<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      用工列表
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <h3 class="no-employee" *ngIf="noEmployee">{{whyEmpty}}</h3>
  <ion-list *ngIf="!noEmployee">
    <ion-item-group *ngFor="let order of orders">
      <ion-item-divider class="group" color="divider">
        {{order.HotelName}}
        <div class="star-box">
          <div *ngFor="let scoreMap of score.starMap; let indx = index">
            <ion-icon name="star" color="bright" *ngIf="score.star>=indx+1;" style="padding-right: .5em" [attr.data-index]="indx+1"></ion-icon>
            <ion-icon name="star-outline" color="bright" *ngIf="score.star<indx+1;" style="padding-right: .5em" [attr.data-index]="indx+1"></ion-icon>
          </div>
        </div>
      </ion-item-divider>
      <ion-item *ngFor="let work of order.Works" [ngClass]="{'item-applied': work.IsApplied}" (click)="showItemDetails(work)">
        <div *ngIf="work.KeyWord" class="keyword">{{work.KeyWord}}</div>
        <h2 class="item-title">{{work.DepartMentName}} - {{work.WorkTypeName}} - 招{{work.EmployNum}}/{{work.Num}}人</h2>
        <p>{{work.Billing}} | {{work.WorkTypeName}}</p>
        <p>时间：{{work.Start | date:"yyyy-MM-dd HH:mm"}} -- {{work.End | date:"yyyy-MM-dd HH:mm"}}</p>
        <label item-end *ngIf="work.IsApplied">已申请</label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
