page-employee-list {
  .scroll-content {
    margin-bottom: 0px !important;
  }
  .num-hint {
    color: blue;
  }
  .num-used {
    color: #F78707
  }
  .no-employee {
    text-align: center;
  }
  .item-icon {
    font-size: 80px;
  }
  .item-title {
    display: inline-block;
  }
  .arrow-icon {
    width: 10%;
    font-size: 60px;
  }
  .item-applied {
    background: #F0F0F0;
    color: #777;
  }
  .item-applied * {
    color: #777;
  }
  .item-applied label {
    font-size: 80%;
    color: #C2C2C2;
  }
  .group {
    font-size: 16px;
    line-height: 100%;
  }
  .keyword {
    position: absolute;
    top: 0;
    right: 16px;
    width: 32px;
    height: 32px;
    background: url(../assets/img/hot.png) no-repeat;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    color: white;
  }
}
