page-employee-list {
  .num-hint {
    color: blue;
  }
  .num-used {
    color: #F78707
  }
  .no-employee {
    text-align: center;
  }
  .item-icon {
    font-size: 80px;
  }
  .item-title {
    display: inline-block;
  }
  .arrow-icon {
    width: 10%;
    font-size: 60px;
  }
  .item-applied {
    background: #F0F0F0;
    color: #777;
  }
  .item-applied *{
    color: #777;
  }
  .item-applied label {
    font-size: 80%;
    color: #C2C2C2;
  }
  .apply-status div {
    padding: 10px 6px;
    border-radius: 6px;
    text-align: center;
    color: white;
  }
  .apply-status-pass {
    background: #2BCA2B;
  }
  .apply-status-waitcheck {
    background: orchid;
  }
  .apply-status-notpass {
    background: #DA0505;
  }
}
