<ion-header>
  <ion-navbar>
    <ion-title>
      用工列表
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <h3 class="no-employee" *ngIf="noEmployee">{{whyEmpty}}</h3>
  <ion-list *ngIf="!noEmployee">
    <ion-item *ngFor="let item of items" (click)="showItemDetails(item)">
      <ion-avatar item-start>
        <!-- <img src="img/avatar-finn.png"> -->
      </ion-avatar>
      <h2>title: {{item.Title}}</h2>
      <p>compony: {{item.HotelName}}</p>
      <p>billing: {{item.Billing}}</p>
    </ion-item>
  </ion-list>
</ion-content>
