page-employee-details {
  .content{
    margin-bottom: 50px;
  }
  p,
  a {
    font-size: 16px;
  }
  .phone {
    text-decoration: none;
  }
  .icon-color {
    font-size: 18px;
    color: lightskyblue;
  }
  ion-item-divider {
    min-height: 1px !important;
    height: 6px;
  }
  .billing {
    color: orange;
  }
  .apply-btn {
    position: fixed;
    bottom: 0;
    margin: 0;
    display: block;
    height: 50px;
    z-index: 100;
    font-size: 16px;
  }
  .apply-btn:disabled {
    opacity: 1;
    filter:alpha(opacity=100);
    background: lightgray;
  }
  .company-info a{
    display: block;
    margin: 10px auto;
  }
}
