<!--
  Generated template for the RoomCheckPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="my">
    <ion-title>RoomCheck</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-label class="hint">Room Check</ion-label>

  <ion-list class="room-list" no-lines *ngIf="roomList && roomList.length>0">
    <ion-item class="room-item" *ngFor="let room of roomList">
      <div>
        <input type="checkbox" name="room" value="room.Id" (click)="roomStatusChange(room)" [checked]="room.RommStatus==1" [disabled]="room.RommStatus==2"/>
      </div>
    </ion-item>
  </ion-list>

  <button ion-button (click)="addRoom()">add room</button>
  <button ion-button (click)="submit()">submit</button>
</ion-content>
