page-room-check {
  .hint {
    margin: 16px;
    text-align: center;
  }
  .room-list {
    display: flex;
    margin-top: 16px;
    padding: 8px;
    ion-col {
      border: 1px solid lightgray;
			border-radius: 2px; 
			// background: #1ee76a;
      // background: lightgray;
      background: #ff9d35;
      margin: 4px;
      height: 70px;
      text-align: center;
      div {
        margin-top: 16px;
      }
    }
  }
}
