page-my-order {
  .no-records {
    text-align: center;
  }
  .item-finished {
    background: #F0F0F0;
    color: #777;
  }
  .item-finished * {
    color: #777;
  }
  .item-finished label {
    font-size: 80%;
    color: #C2C2C2;
  }
  .finish {
    .go-comment-btn {
      border: solid 0.8px #FEBD05;
      border-radius: 8px;
      color: #FEBD05 !important;
      background: transparent;
    }
    .show-comment-btn {
      border: solid 0.8px #FEBD05;
      border-radius: 8px;
      background: transparent;
      color: white !important;
    }
  }
}
