page-my {
  .user-avatar {
    width: 100%;
    height: 100%;
    border: lightgray solid 0.8px;
    border-radius: 50%;
  }
  .state-login {
    color: green;
  }
  .state-logout {
    color: red;
  }
}
