<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="my">
    <ion-title>我的工作</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
      </ion-refresher-content>
    </ion-refresher>
    <h3 class="no-records" *ngIf="noRecords">{{whyEmpty}}</h3>
    <ion-list *ngIf="!noRecords">
      <ion-item *ngFor="let item of orders" (click)="openRoomCheck(item)" [ngClass]="{'item-finished': item.Status==0}">
        <!-- <ion-avatar class="finish" item-end>
          <div>
            <button ion-button block color="danger" small (click)="finishWork(item, true)" *ngIf="item.Status!=0">终止</button>
            <button ion-button block class="go-comment-btn" small (click)="finishWork(item, true)" *ngIf="item.Status==0 && item.HotelEvaluate==null">评价</button>
          </div>
          <div>
            <button ion-button block color="danger" small clear *ngIf="item.Status==0">已终止</button>
            <button ion-button block class="show-comment-btn" small (click)="finishWork(item, false)" *ngIf="item.Status==0 && item.HotelEvaluate!=null">查看评论</button>
          </div>
        </ion-avatar> -->
        <h2>{{item.Order.HotelName}}</h2>
        <h3>{{item.Order.DepartMentName}} - {{item.Order.WorkTypeName}}</h3>
        <p>{{item.Order.Billing}} | {{item.Order.Start | date:"yyyy-MM-dd"}}</p> 
        <label class="room-remain" item-end>{{item.StatusStr}}<br>{{item.RoomNum}}间</label>
      </ion-item>
    </ion-list>
</ion-content>
